<section
  class="pt-40 bg-contain font-jakarta max-w-6xl px-5 mx-auto h-full bg-[url(assets/imgs/intro.png)] bg-no-repeat bg-right"
>
  <h1 class="font-playfair leading-tight text-[90px] mb-12 max-w-3xl text-blue">
    Your Solution Legal Consultacy
  </h1>

  <p class="mb-10 text-2xl text-strongGray max-w-xl leading-normal font-medium">
    We are here to help you take care of your legality with the best service
    especially for you.
  </p>

  <button class="py-7 px-9 text-white bg-blue rounded-lg font-bold">
    GET STARTED
  </button>
</section>
