@import "../../app.component.scss";

:host {
  display: block;
}

header {
  @include container;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  color: #1ce783;
}

nav {
  font-size: 20px;
  display: flex;
  & > * {
    padding: 12px 16px;

    &:hover {
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
