.comment__title {
  margin-bottom: 8px;
  color: #005da1;
  font-size: 1.125rem;
}

.comment__body {
  margin-bottom: 4px;
}

.comment__email {
  font-size: 0.875rem;
  color: #808080;
  text-align: right;
}
